{% extends 'base.html' %}

{% block title %}{{ name }}{% endblock %}

{% block content %}


{% if test.name == "Bob" %}
<h1>{{ test.name }}</h1>
{% elif test.name == "Charles"%}
<h1> {{ test.name }} </h1>
{% else %}
<h2>{{ test.age }}</h2>
{% endif %}


<div class="posts">
    {% for post in posts %}
        <div class="post">
            <h1>{{post.title}}</h1>
            <p>{{post.body}}</p>
        </div>
    {% endfor %}
</div>

{% if name == "James" %}

<h2>{{ name }}</h2>

{% else %}

<h2> </h2>
    
{% endif %}
    
{% block ending %} {{ name }}{{ age }} {% endblock %}


{% endblock %}
